<template>
    <div class="hero">
        <div class="hero-container">
            <div class="hero-card">
                <h1 class="hero-card__head">Трактир «Пушкин»</h1>
                <div class="hero-card-details">
                    <p class="hero-card__type">₽₽₽ • Европейская</p>
                    <p class="hero-card__time">40 - 50 мин</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.hero {
    display: flex;
    background-image: url("~/assets/images/restaurants/pushkin/pushkinTraktir.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 255px;
    padding-left: 8px;
    padding-right: 4px;
}

@media (min-width: 768px) {
    .hero {
        height: 364px;
    }
}

.hero-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 311px;
    width: 100%;
}

@media (min-width: 576px) {
    .hero-container {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;

    }
}

@media (min-width: 992px) {
    .hero-container {
        justify-content: left;
        width: 968px;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #1D1D1D;
    background-color:#FFFFFF;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 6px 6px #aeaeae;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (min-width: 576px) {
    .hero-card {
        padding-left: 48px;
        padding-right: 52px;
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .hero-card {
        padding-top: 38px;
        padding-bottom: 38px;
    }
}

@media (min-width: 992px) {
    .hero-card {
        width: auto;
        justify-self: flex-start;
    }
}

.hero-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

@media (min-width: 576px) {
    .hero-card-details {
        flex-direction: row;
        justify-content: center;
        gap: 66px;
    }
}

@media (min-width: 768px) {
    .hero-card-details {
        gap: 66px;
        margin-top: 54px;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .hero-card-details {
        gap: 50px;
    }
}

.hero-card__head {
    font-weight: lighter;
    font-size: 24px;
    color: #1D1D1D;
}

@media (min-width: 768px) {
    .hero-card__head {
        font-size: 36px;
    }
}

.hero-card__type {
    font-size: 14px;
    color: #626262;
    text-align: left;
}

@media (min-width: 576px) {
    .hero-card__type {
        width: 172px;
    }
}

.hero-card__time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 16px;
    width: 98px;
    height: 32px;
}

@media (min-width: 576px) {
    .hero-card__time {
        width: 94px;
    }
}

@media (min-width: 768px) {
    .hero-card__time {
        width: 94px;
    }
}

@media (min-width: 992px) {
    .hero-card__time {
        width: 100px;
    }
}
</style>