<template>
    <div class="main-conteiner">
        <ul class="list-block">
            <li class="list-item">
                <NuxtLink class="list-item__link list-item__link--selected" to="/">Закуски</NuxtLink>
            </li>
            <li class="list-item">
                <NuxtLink class="list-item__link" to="/">Салаты</NuxtLink>
            </li>
            <li class="list-item">
                <NuxtLink class="list-item__link" to="/">Супы</NuxtLink>
            </li>
            <li class="list-item">
                <NuxtLink class="list-item__link" to="/">Горячие блюда</NuxtLink>
            </li>
            <li class="list-item">
                <NuxtLink class="list-item__link" to="/">Гарниры</NuxtLink>
            </li>
            <li class="list-item">
                <NuxtLink class="list-item__link" to="/">Десерты</NuxtLink>
            </li>
        </ul>   
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main-conteiner {
    display: none;
}

@media (min-width: 768px) {
    .main-conteiner {
        display: block;
        font-family: "Roboto", sans-serif;
        max-width: 100%;
        width: 968px;
        padding-right: 8px;
        padding-left: 8px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(117, 117, 117, 0.2);
    }
}

@media (min-width: 992px) {
    .main-conteiner {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
}

.list-block {
    display: flex;
    gap: 40px;
    font-weight: 16px;
    list-style: none;
    padding-left: 0;
}

.list-item {
    display: flex;

}

.list-item > a {
    text-decoration: none;
    color: #626262;
    padding-top: 32px;
    padding-bottom: 29px;
}

.list-item > a:hover {
    font-weight: bold;
}

.list-item__link--selected {
    color: #327430;
}
</style>