<template>
    <div class="catalogue">
        <h2 class="catalogue__title">Закуски</h2>
        <div class="list-block">
            <div class="list-item" v-for="(menu, index) in menuList" :key="index">
                <div class="item-info-block">
                    <div class="item-name-inner">
                        <h3 class="item-name__title">{{menu.title}}</h3>
                        <p class="item-name__description">{{ changeLength(menu.description) }}</p>
                    </div>
                    <p class="item__price">{{menu.price}}</p>
                </div>
                <img :src="require(`~/assets/images/restaurants/pushkin/menu/${menu.image}.jpg`)" alt="" id="item__img" />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data () {
        return {
            search: ''
        }
    },
    props: {
        menuList: {
            type: Array,
            default: ()=>[]
        }
    },
    methods: {

        // в description отображаем 21 символ

        changeLength: function(str) {
            if (str.length > 21) {
                return str.substring(0, 21) + '...'
            }
            else return str
        }
    }
}
</script>

<style scoped>
.catalogue {
    max-width: 100%;
    width: 956px;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 116px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .catalogue {
        margin-top: 56px;
    }
}

.catalogue__title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.list-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    margin: 32px auto 80px;
}

@media (min-width: 992px) {
    .list-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 49px;
    }
}

.list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(98, 98, 98, 0.2);
    border-bottom: 1px solid rgb(98, 98, 98, 0.2);
    background-color: rgb(216, 216, 216, 0.05);
}

@media (min-width: 576px) {
    .list-item {
        border: 1px solid rgb(98, 98, 98, 0.2);
    }
}

.list-item:hover {
    background-color: rgb(216, 216, 216, 0.2);
}

.item-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name-inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 15px;
}

@media (min-width: 576px) {
    .item-name-inner {
        margin-left: 16px;
    }
}

.item-name__title { 
    font-size: 14px;
    line-height: 34px;
    color: #1D1D1D;
}

@media (min-width: 576px) {
    .item-name__title {
        font-size: 16px;
    }
}

.item-name__description {
    font-size: 13px;
    color: #626262;
}

.item__price {
    font-size: 15px;
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .item__price {
        margin-left: 16px;
    }
}
</style>