<template>
  <div class="restaurant-page">
      <the-hero />
      <the-menu />
      <the-snacks-menu :menu-list='menu'/>
  </div>
</template>

<script>
import TheHero from '~/components/restaurant/TheHero.vue'
import TheMenu from '~/components/restaurant/TheMenu.vue'
import TheSnacksMenu from '~/components/restaurant/TheSnacksMenu.vue'
export default {
  components: { TheHero, TheMenu, TheSnacksMenu },
  async asyncData (context) {
    const Lang = context.app.i18n.locale.toLowerCase()
    var axiosResponse = await context.$axios.$get(`menu_${Lang}.json`)
    return {
      menu: axiosResponse,
      searchValue: '',
    };
  },
}
</script>

<style scoped>
.restaurant-page {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-shadow: none;
}
</style>