<template>
    <div class='cards-conteiner'>
        <nuxt-link 
            class="card-inner" 
            v-for="(card, index) in cardsList" 
            :key="index"
            :to="localePath({
                name: 'restaurant-slug',
                params: {
                    slug: card.slug
                }
            })"
        >
            <img :src="require(`~/assets/images/${card.image}.jpg`)" alt="" class="card__img" />
            <div class="card-info">
                <h2 class="card-info__title">
                    {{card.title}}
                </h2>
                <p class="card-info__description">
                    {{card.description}}
                </p>
                <p class="card-info__price">
                    {{card.price}}
                </p>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
export default {
    data () {
        return {
            search: ''
        }
    },
    props: {
        cardsList: {
            type: Array,
            default: ()=>[]
        }
    },
}
</script>


<style scoped>
.cards-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    max-width: 100%;
    width: 968px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 16px auto 64px;
}

@media (min-width: 576px) {
    .cards-conteiner {
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
}

@media (min-width: 782px) {
    .cards-conteiner {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
    }
}

.card-inner {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    padding-bottom: 36px;
}

@media (min-width: 576px) {
    .card-inner {
        width: auto;
    }
}

.card__img {
    max-width: 100%;
    height: auto;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

@media (min-width: 768px) {
    .card-info {
        padding-top: 16px;
    }
}

.card-info__title {
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 4px;
}

.card-info__description {
    font-weight: 14px;
    padding-bottom: 4px;
    color: #626262;
}

.card-info__title,
.card-info__price {
    color: #1D1D1D;
}

.card-info__price {
    font-weight: 13px;
}

@media (max-width: 962px) {
    .card-info__title {
        font-size: 16px;
        padding-bottom: 1px;
    }
}
@media (max-width: 752px) {

    .item__description__title {
        font-size: 16px;
    }
    .card-info {
        padding-top: 14px;
    }
}
</style>