<template>
    <div class="search-inner">
        <input
            class="search-inner__input"
            type="text"
            :value="search"
            :placeholder="$t('header.search')"
            autocomplete="off"
            aria-label="Поиск"
            @input="onInput($event.target.value)"
        >
    </div>
</template>

<script>
export default {
    model: {
        prop: 'search',
        event: 'input'
    },
    props: {
        search: {
            type: String,
            default: '',
        }
    },
    methods: {
        onInput(value) {
            this.$emit('input', value)
        }
    },
}
</script>

<style scoped>
.search-inner {
    border-bottom: 1px solid #979797;
    max-width: 100%;
    width: 968px;
    margin: 55px auto 0;
}

@media (min-width: 768px) {
    .search-inner {
        margin: 55px auto 0;
    }
}

@media (max-width: 992px){
    .search-inner {
        margin: 55px auto 0;
    }
}

.search-inner__input {
    border: none;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    background-image: url(~/assets/images/search.png);
    background-position-x: 5px;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-left: 1.5rem;
    background-position-y: center;

}
</style>
