<template>
    <div class='footer'>
        <section class='footer-logo-section'>
            <img src="../assets/svg/logoWhite.svg" alt="footer logo" fill="white">
        </section>
        <section class='footer-links-section'>
            <div class='footer-socials-block'>
                <select v-model="language" class="language-select">
                    <option class="language-select__ru" value='ru'>Русский</option>
                    <option class="language-select__en" value='en'>English</option>
                </select>
                <p class="footer-hashtag">
                    <em class="hashtag__lattice">#</em>
                    UberEats
                </p>
                <div class='footer-social-links'>
                    <NuxtLink to="#">
                        <img src="../assets/svg/socials/facebook.svg" alt="facebook link icon">
                    </NuxtLink>
                    <NuxtLink to="#">
                        <img src="../assets/svg/socials/twitter.svg" alt="twitter icon">
                    </NuxtLink>
                    <NuxtLink to="#">
                        <img src="../assets/svg/socials/instagram.svg" alt="instagram icon">
                    </NuxtLink>             
                </div>
            </div>
            <div class='footer-partner-links'>
                <NuxtLink class="footer-partner__link" to='/'>{{ $t('footer.about') }}</NuxtLink>
                <NuxtLink class="footer-partner__link" to='/'>{{ $t('footer.delivery_partners') }}</NuxtLink>
                <NuxtLink class="footer-partner__link" to='/'>{{ $t('footer.restaurants_partners') }}</NuxtLink>                
            </div>
            <div class='footer-faq-section'>
                <NuxtLink class="footer-faq-section__link" to='/'>{{ $t('footer.towns') }}</NuxtLink>
                <NuxtLink class="footer-faq-section__link" to='/'>{{ $t('footer.prise') }}</NuxtLink>
                <NuxtLink class="footer-faq-section__link" to='/'>{{ $t('footer.help') }}</NuxtLink>
                <NuxtLink class="footer-faq-section__link" to='/'>{{ $t('footer.faqs') }}</NuxtLink>
            </div>
        </section>
        <section class='footer-app-links'>
            <a class="footer-app-link">
                <img class="footer-app-link__img" src="~/assets/images/App_Store.jpg" alt="app store download">
            </a>
            <a class="footer-app-link">
                <img class="footer-app-link__img" src="~/assets/images/Google_Play.jpg" alt="google play download">
            </a>
        </section>
        <section class='footer-final-links'>
            <NuxtLink to='/'>© 2017 Uber Technologies Inc.</NuxtLink>
            <NuxtLink to='/'>{{ $t('footer.personal_data') }}</NuxtLink>
            <NuxtLink to='/' id='transform_left'>{{ $t('footer.user_agreement') }}</NuxtLink>            
        </section>
    </div>
</template>

<script>
export default {
    data () {
        return {
            language: this.$i18n.locale.toLowerCase()
        }
    },
    watch: {
        language(newValue) {
            this.$i18n.setLocale(newValue)
        }
    }
}
</script>

<style>

/* Footer */

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    max-width: 100%;
    background-color: #262626;
    padding: 46px 8px 40px 8px;
}

.footer-logo-section {
    padding-bottom: 40px;
    max-width: 100%;
    width: 968px;
    border-bottom: 1px solid #FFFFFF;
}

@media (min-width: 992px) {
    .footer-logo-section  {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 576px) {
    .footer__logo__svg {
        width: 192px;
        height: auto;
    }
}

/* Footer-links */

.footer-links-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 32px;
    padding-bottom: 48px;
    max-width: 100%;
    width: 968px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .footer-links-section {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 713px) {
    .footer-links-section {
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .footer-links-section {
        flex-direction: row;
        justify-content: space-between; 
    }
}

/* Footer-socials */

.footer-socials-block {
    margin-bottom: 39px;
}

@media (min-width: 576px) {
    .footer-socials-block {
        margin-bottom: 0;
    }
}

@media (min-width: 713px) {
    .footer-socials-block  {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .footer-socials-block {
        margin-right: 80px;
    }
}

@media (min-width: 992px) {
    .footer-socials-block {
        margin-right: 128px;
    }
}

@media (min-width: 1200px) {
    .footer-socials-block {
        margin-right: 90px;
    }
}

/* Language */

.language-select {
    color: #fff;
    font-size: 13px;
    width: 227px;
    height: 40px;
    background-color: #3B3B3B;
    border: none;
}

.language-select__ru,
.language-select__en {
    font-size: 13px;
}

/* Hashtag */

.footer-hashtag {
    padding-bottom: 17px;
    padding-top: 20px;
    font-size: 16px;
}

@media (min-width: 713px) {
    .footer-hashtag {
        padding-top: 33px;
    }
}

.hashtag__lattice {
    color: #49A144; 
}

/* Partner-links */

.footer-partner-links {
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    gap: 23px; 
}

@media (min-width: 576px) {
    .footer-partner-links {
        margin-left: auto;
        margin-right: 0;
        width: 220px;
    }
}

@media (min-width: 683px) {
    .footer-partner-links {
        margin-right: auto;
        width: auto;
    }
}

@media (min-width: 768px) {
    .footer-partner-links {
        margin-left: 0;
        margin-right: 60px;
    }
}

@media (min-width: 992px) {
    footer-partner-links {
        margin-right: 105px;
    }
}

.footer-partner__link {
    color: #fff;
    text-decoration: none;
}

/* Faq section */

.footer-faq-section {
    display: inherit;
    align-items: flex-start;
    flex-direction: column;
    font-size: 13px;
    gap: 23px;
    margin-top: 23px;
}

@media (min-width: 576px) {
    .footer-faq-section {
        margin-top: 0;
        margin-left: auto;
        margin-right: 0;
        width: 220px;
    }
}

@media (min-width: 683px) {
    .footer-faq-section {
        margin-right: auto;
        width: auto;
    }
}

@media (min-width: 768px) {
    .footer-faq-section {
        margin-left: 0;
    }
}

.footer-faq-section__link {
    color: #fff;
    text-decoration: none;
}

/* App-links */

.footer-app-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 40px;
    padding-bottom: 39px;
    max-width: 100%;
    width: 968px;
    margin-right: auto;
    margin-left: auto;
}

.footer-app-link__img {
    border-radius: 4px;
}

/* Final-links */

.footer-final-links {
    display: flex;
    flex-direction: column; 
    gap: 24px;
    font-size: 11px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 968px;
}

@media (min-width: 576px) {
    .footer-final-links {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .footer-final-links {
        flex-direction: row;
    }
}

.footer-final-links a {
    color: #fff;
    text-decoration: none;
}

.foter-final-links a:nth-last-child() {
    align-items: flex-start;
}

/* #transform_left */

#transform_left {
    padding-right: 15%;
}
</style>