<template>
  <div class='header-block'>
    <div class="header-inner">
      <NuxtLink to='/' class="header__logo">
        <img src="../assets/svg/headerLogo.svg" alt="Header logo">
      </NuxtLink>
      <div class="header-buttons">
        <button class='header-buttons__log-in'>{{ $t('header.enter') }}</button>
        <button class='header-basket'>
          <svg class='header-basket__icon' width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9474 6.85876H0V18.6482C0 20.8574 1.79086 22.6482 4 22.6482H14.9474C17.1565 22.6482 18.9474 20.8574 18.9474 18.6482V6.85876ZM4 21.1482C2.61929 21.1482 1.5 20.029 1.5 18.6482V8.35876H17.4474V18.6482C17.4474 20.029 16.3281 21.1482 14.9474 21.1482H4Z" fill="#262626"/>
            <path d="M6.01315 12.06V5.86806C6.01315 3.95686 7.56248 2.40753 9.47368 2.40753C11.3849 2.40753 12.9342 3.95686 12.9342 5.86806V12.06C12.9342 12.4742 13.27 12.81 13.6842 12.81C14.0984 12.81 14.4342 12.4742 14.4342 12.06V5.86806C14.4342 3.12844 12.2133 0.907532 9.47368 0.907532C6.73406 0.907532 4.51315 3.12844 4.51315 5.86806V12.06C4.51315 12.4742 4.84894 12.81 5.26315 12.81C5.67737 12.81 6.01315 12.4742 6.01315 12.06Z" fill="#262626"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
    
</template>

<style>

/* Header-block  */

.header-block {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 968px;
  height: 72px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
}

.header__logo__svg {
  width: 119.23px;
  height: auto;
}

.header-buttons {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150.95px;
  gap: 27px;
}

.header-buttons__log-in {
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #E0E0E0;
  padding: 14px 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.header-basket {
  border: none;
  background-color: #fff;
}

.header-basket__icon {
  width: 18.95px;
  height: 21.74px;
}

@media (max-width: 962px) {
  .header__logo__svg {
    width: 107px;
    height: auto;
  }
}

@media (max-width: 752px) {
  .header-buttons {
    width: 82px;
    height: 40px;
  }

  .header-basket {
    display: none;
  }
}
</style>
