<template>
    <div 
        class="up-button"
        @click="onClick"
        v-show="showArrow"
    >
        <svg class="up-button__icon" width="16" height="25" viewBox="0 0 16 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.01832 0.0428432L8.05269 0.0102539L15.6741 7.25758L14.0755 8.70713L8.92858 3.88391V25H7.14287V3.85222L1.96207 8.70713L0.399567 7.25758L8.00314 0.0102539L8.01876 0.0428432H8.01832Z" fill="white"/>
        </svg>
    </div>
</template>

<script>

export default {
    data() {
        return {
            showArrow: false,
        }
    },
    mounted () {
        window.addEventListener('scroll', this.onScroll)
        this.onScroll()
    },
    beforeDestroy () {
        window.removeEventListener('scroll', this.onScroll)
    },
    methods: {
        onClick() {
            window.scrollTo(pageXOffset, 0)
        },
        onScroll() {
            this.showArrow = pageYOffset > document.documentElement.clientHeight
        }
    }
}
</script>

<style>
.up-button {
    width: 64px;
    height: 64px;
    background-color: #59BD5A;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: fixed;
    right: 16px;
    bottom: 24px;
}
.up-button:hover {
    border: 1px solid #fff;
}

@media (min-width: 768px){
    .up-button {
        width: 80px;
        height: 80px;
    }
}
</style>
