<template>
  <div class="main-container">
    <div class="main-search">
      <search v-model.trim="searchValue" />
    </div>
    <p v-if="searchValue" class="main-container__search-result">
      <b>{{ $t('header.search') }}</b> {{ searchValue }}
    </p>
    <h1 class="items_head" v-if="!searchValue">{{ $t('header.moscow_restaurants')}}</h1>
    <cards-list :cards-list="getFilteredCards" />
  </div>
</template>

<script>
import CardsList from '~/components/CardsList'
import Search from '~/components/Search'

export default {
  components: { CardsList, Search },
  async asyncData(context) {
    const Lang = context.app.i18n.locale.toLowerCase()
    var axiosResponse = await context.$axios.$get(`cards_${Lang}.json`)
    return {
      cards: axiosResponse,
      searchValue: '',
    }
  },
  computed: {
    getFilteredCards() {
      if (this.searchValue.length > 0) {
        return this.cards.filter((card) => {
          return (
            card.title.toLowerCase().indexOf(this.searchValue.toLowerCase()) !== -1
          )
        })
      }

      return this.cards
    },
  },
  head() {
    return {
      title: 'Рестораны в москве',
      meta: [
        {
          name: "robots",
          content: "index, follow",
        }
      ],
    }
  },
}
</script>

<style scoped>
.main-container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main-search {
  max-width: 100%;
  width: 968px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

.main-container__search-result {
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin: 16px auto;
}

@media (min-width: 992px) {
  .main-container__search-result {
    max-width: 968px;
  }
}

.items_head {
  font-size: 22px;
  max-width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin: 56px auto 0;
}

@media (min-width: 962px) {
  .items_head {
    max-width: 968px;
  }
}

</style>